h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    height: 6em;
    width: 12em;
}